[submodule "backend"]
	path = backend
	url = git@github.com:Opportunists/openai-hackathon-les-cracks-BACK.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Opportunists/openai-hackathon-les-cracks-FRONT.git
