.three-words-per-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Number of lines to show */
}

.semi-circle {
  @apply bg-secondary w-[20rem] h-[20rem] md:w-[30rem] md:h-[30rem];
  border-radius: 30rem 0 0 0;
}